*{
    background-color: rgb(133 107 60);
}
/* .container{
    width: auto
} */
header{
    font-family: 'PT Serif', serif;
    background-color: black;
    display: flex;
    margin-left: 2rem;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: -2px;
}
h2{
    /* display: flex; */
    color: white;
    background-color: black;

}
nav{
    /* display: flex;
    position: right; */
    /* margin-top: -0.2rem; */
    width: 60vw;
    background-color: black;
}
ul {
    list-style-type: none;
    /* margin: 10px;
    padding: 10px; */
    justify-content: space-evenly;
    display: flex;
    background-color: black;
  }
  li{
      /* float: right; */
      /* display: block; */
      padding-top: 3px;
      padding-bottom: -5px;
      font-size: larger;
      color: white;
      background-color: black;
      justify-content: space-evenly;
  }
  li:hover{
      color: cornflowerblue;
      cursor: pointer;
  }
  .navbar{
      background-color: black;
      width: 100%;
      height: auto;
  }
  .bigimage{
     width: 100%;
     height: auto;
  }
  .container1{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
  }
  .container1>div{
      text-align: center;
      /* display: inline-block; */
      margin: 5px;
      padding: 10px;
  }
  .container1>div>p{
      line-height: 1.5rem;
      font-size: larger;
  }
  footer{
      text-align: center;
      background-color: black;
      color: aliceblue;
      font-size: larger;
      font-weight: normal;
      margin-top: 7px;
      margin-bottom: -2px;
      /* padding-top: 5px;
      padding-bottom: 5px; */
      padding: 10px;
  }